<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Messaging board- {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1> Message Board</h1>
        {% include("_navigation.html") %}
        <section> 
            <header>
                {% block header %}{% endblock %}
            </header>
            <main>
            {% block content %}<p>No messages yet.</p>{% endblock %}
            </main>
        </section>
    </body>
</html>